body{
    background-color: rgb(255,255,255);
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}
header{
    background-color: whitesmoke;
    position: sticky;
    top:0;
    width: 100%;
    font-size: 16px;
    line-height: 1;
    text-transform: none;
    align-items: center;
    display: block;
    border: 0;
    text-align: center;
}

header a{
    text-decoration: none;
    color: #000;
}

header a svg, header a img{
    display: inline-block;
    vertical-align: middle;
}

.logo{
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
    top: 0;
}

.item1{
    display: inline-block;
    left: 0;
    text-align: left;
}

nav div a{
    text-decoration: none;
    color:orangered;
}

section h1, .stars{
    display: inline;
    vertical-align: middle;
}

.stars{
    overflow: hidden;
}

.stars a{
    text-decoration: none;
    color: #000;
}

.stars a svg{
    display: inline-block;
    vertical-align: middle;
}

.stars svg{
    fill: orangered;
    font-size: 0;
    stroke-width: 0%;
}

.stars a span{
    color:black
}

.stars a+span{
    color: orangered;
    font-size:large;
}

.stars span:nth-child(3){
    display: inline;
    color: orangered;
    text-align: right;
}